@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0F9D94;
  --accent: #F4B400;
  --dark: #0B1120;
  --light: #F9FAFB;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: var(--light);
}

.dark body {
  background-color: var(--dark);
  color: white;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}